<!doctype html>
<html lang="ja">
<head>
    <title>ポートフォリオ</title>
    <!-- Required meta tags -->
{% load static %}

{% block header %}
{% endblock header %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->


</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:8000/uploadlist">トップ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/uploadcreate">投稿</a>
            </li>
            <li class="nav-item">
            </li>
            <form  action="{% url 'index' %}" method="POST">{% csrf_token %}
            <li>
        　　　　　　　　　<input type="text" name="index_value",value="タイトルを入力してください">
             <button type="submit" name="value"　>検索</button>
        　 </li>
          </form>
          {% if user.is_authenticated %}
          <div class="box"align="right">
            <a class="nav-link" href="http://127.0.0.1:8000/logout" align="right">ログアウト</a>
          </div>
        
        {% else %}
        　<div class="box" align="padding-right100">
        　　　　　　<a class="nav-link" href="http://127.0.0.1:8000/login">ログイン</a>
        </div>
        {% endif %}
        
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>

    <!-- このblockの中で各templateの記載内容が呼び出される -->
    {% block content %}
    {{c}}
    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>